body {
    background-color: #8839bf;
    justify-content: center;
    text-align: center;
  }
  
  .head {
    background-color: white;
  }

  mat-form-field {
    background-color: #d5b537;
  }
  
  .largeAlignment {
      padding: 16px;
  }
  
  .smallAlignment {
      padding: 5px;
  }

  .rowflex {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .columnflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #textbox {
    background-color: #d5b537;
    border: none;
    width: 400px;
    height: 35px;
    border-radius: 10px;
    text-decoration: none;
    align-self: center;
  }

  #descrip {
    background-color:white;
    border: none;
    width: 400px;
    height: 100px;
    border-radius: 10px;
    text-decoration: none;
    align-self: center;
  }
  
  
  #subbutton {
      background-color: #464444;
      border: none;
      color: white;
      padding: 15px;
      text-align: center;
      font-size: 16px;
      border-radius: 20px;
      width: 250px;
  }
