<!DOCTYPE html>
<html>
    <body>
        <div class="head">
            <img src="../../assets/images/vlogo_white_bg.png" alt="Vibha Logo">
        </div>
        <div class="other">
            <div class="content-wrap">
                <h3>Sign Up</h3>
                <div class='largeAlignment'></div>
                <span>Choose One:</span>
                <div class='smallAlignment'></div>
                <div class='rowflex'>
                    <div class='columnflex'>
                        <span>Tutor</span>
                        <div class='largeAlignment'></div>
                        <span>Age</span>
                        <div class='smallAlignment'></div>
                        <input id="textbox" type="text" />
                    </div>
                    <div class='smallAlignment'></div>
                    <div class='columnflex'>
                        <span>Student</span>
                        <div class='largeAlignment'></div>
                        <span>Grade</span>
                        <div class='smallAlignment'></div>
                        <input id="textbox" type="text" />
                    </div>
                </div>

                <div class='largeAlignment'></div>
                <button id='subbutton'>Next</button><br>
            </div>
        </div>
    </body>
</html>