<!DOCTYPE html>
<html>
    <body>
        <div class="head">
            <img src="../../assets/images/vlogo_white_bg.png" alt="Vibha Logo">
        </div>
        <div class="other">
            <div class="content-wrap">
                <h3>Sign Up</h3>
                <div class='largeAlignment'></div>
                <div class='columnflex'>
                    <span>Teachable Grades</span>
                    <div class='smallAlignment'></div>
                    <div class='rowflex'>
                        <mat-form-field appearance="fill">
                            <mat-label>Lowest Grade</mat-label>
                            <mat-select>
                                <mat-option>None</mat-option>
                                <mat-option value="k">K</mat-option>
                                <mat-option value="first">1st</mat-option>
                                <mat-option value="second">2nd</mat-option>
                                <mat-option value="third">3rd</mat-option>
                                <mat-option value="fourth">4th</mat-option>
                                <mat-option value="fifth">5th</mat-option>
                                <mat-option value="sixth">6th</mat-option>
                                <mat-option value="seventh">7th</mat-option>
                                <mat-option value="eight">8th</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class='smallAlignment'></div>
                        <mat-form-field appearance="fill">
                            <mat-label>Highest Grade</mat-label>
                            <mat-select>
                                <mat-option>None</mat-option>
                                <mat-option value="k">K</mat-option>
                                <mat-option value="first">1st</mat-option>
                                <mat-option value="second">2nd</mat-option>
                                <mat-option value="third">3rd</mat-option>
                                <mat-option value="fourth">4th</mat-option>
                                <mat-option value="fifth">5th</mat-option>
                                <mat-option value="sixth">6th</mat-option>
                                <mat-option value="seventh">7th</mat-option>
                                <mat-option value="eight">8th</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class='smallAlignment'></div>
                <div>
                    <div class='columnflex'>
                        <div class='largeAlignment'></div>
                        <span>Teachable Subjects</span>
                        <div class='smallAlignment'></div>
                        <input id="textbox" type="text" />
                    </div>
                    <div class='smallAlignment'></div>
                    <div class='columnflex'>
                        <div class='largeAlignment'></div>
                        <span>Description of Yourself</span>
                        <div class='smallAlignment'></div>
                        <input id="descrip" type="text" aria-multiline="true"/>
                    </div>
                </div>

                <div class='largeAlignment'></div>
                <button id='subbutton'>Next</button><br>
            </div>
        </div>
    </body>
</html>