<!DOCTYPE html>
<html>
    <body>
        <div class="head">
            <img src="../../assets/images/vlogo_white_bg.png" alt="Vibha Logo">
        </div>
        <div class="other">
            <div class="content-wrap">
                <h3>Log In</h3>
                <div class='largeAlignment'></div>
                <span>Username</span><br>
                <div class='smallAlignment'></div>
                <input id="textbox" type="text"/><br>

                <div class='largeAlignment'></div>
                <span>Password</span><br>
                <div class='smallAlignment'></div>
                <input id="textbox" type="text" /><br>

                <div class='smallAlignment'></div>
                <a routerLink='/forpass' routerLinkActive='active'>Forgot Password?</a><br>
                <div class='smallAlignment'></div>

                <input type="checkbox" id="rm" name="rm" value="1">
                <label for="rm">Remember me</label><br>
                <div class='smallAlignment'></div>

                <button id='subbutton'>Log In</button><br>
                <div class='smallAlignment'></div>
                <span>--- OR ---</span><br>
                <div class='smallAlignment'></div>
                <span>Sign in with</span>
                <div class='smallAlignment'></div>
                
                <div class='imgsel'>
                    <div id='gimgsep'>
                        <img src="../../assets/images/glogo.png" alt="Google Logo" class='logoImg' id='gimg' onclick=>
                    </div>
                    <div id ='fimgsep'>
                        <img src="../../assets/images/flogo.png" alt="Facebook Logo" class='logoImg' id='fimg' onclick=>
                    </div>
                </div>
                <br>
                <a routerLink='/signup' routerLinkActive='active'>Don't have an account?</a>
            </div>
        </div>
    </body>
</html>