<!DOCTYPE html>
<html>
    <body>
        <div class="head">
            <img src="../../assets/images/vlogo_white_bg.png" alt="Vibha Logo">
        </div>
        <div class="other">
            <div class="content-wrap">
                <h3>Log In</h3>
                <div class='largeAlignment'></div>
                <span>Username</span><br>
                <div class='smallAlignment'></div>
                <input id="textbox" type="text" #userName required/><br>

                <div class='largeAlignment'></div>
                <span>Password</span><br>
                <div class='smallAlignment'></div>
                <input id="textbox" type="password" #userPassword required/><br>

                <div class='smallAlignment'></div>
                <a routerLink='/forpass' routerLinkActive='active'>Forgot Password?</a><br>
                <div class='smallAlignment'></div>

                <input type="checkbox" id="rm" name="rm" value="1">
                <label for="rm">Remember me</label><br>
                <div class='smallAlignment'></div>

                <input type="button" id='subbutton' value="Log in" (click)="authService.SignIn(userName.value, userPassword.value)"><br>
                <div class='smallAlignment'></div>
                <span>--- OR ---</span><br>
                <div class='smallAlignment'></div>
                <span>Sign in with</span>
                <div class='smallAlignment'></div>
                
                <div class='imgsel'>
                    <div id='gimgsep'>
                        <input type="image" src="../../assets/images/glogo.png" (click)=authService.GoogleAuth() class='newImg'/>
                    </div>
                    <div id ='fimgsep'>
                        <input type="image" src="../../assets/images/flogo.png" (click)=authService.FacebookAuth() class='newImg'/>
                    </div>
                </div>
                <br>
                <a routerLink='/signup' routerLinkActive='active'>Don't have an account?</a>
            </div>
        </div>
    </body>
</html>