<!DOCTYPE html>
<html>
    <body>
        <div class="head">
            <img src="../../assets/images/vlogo_white_bg.png" alt="Vibha Logo">
        </div>
        <div class="other">
            <div class="content-wrap">
                <h3>Sign Up</h3>
                <form>
                    <div class='rowflex'>
                        <div class='columnflex'>
                            <div class='largeAlignment'></div>
                            <span>Name</span>
                            <div class='smallAlignment'></div>
                            <input id="textbox" type="text" #name required/>
                        </div>
                        <div class='smallAlignment'></div>
                        <div class='columnflex'>
                            <div class='largeAlignment'></div>
                            <span>Username</span>
                            <div class='smallAlignment'></div>
                            <input id="textbox" type="text" #username required/>
                        </div>
                    </div>
                    <div class='rowflex'>
                        <div class='columnflex'>
                            <div class='largeAlignment'></div>
                            <span>Email</span>
                            <div class='smallAlignment'></div>
                            <input id="textbox" type="email" #email required/>
                        </div>
                        <div class='smallAlignment'></div>
                        <div class='columnflex'>
                            <div class='largeAlignment'></div>
                            <span>Password</span>
                            <div class='smallAlignment'></div>
                            <input id="textbox" type="password" #password required/>
                        </div>
                    </div>
                    <div class='rowflex'>
                        <div class='columnflex'>
                            <div class='largeAlignment'></div>
                            <span>Confirm Email</span>
                            <div class='smallAlignment'></div>
                            <input id="textbox" type="email" #cemail required/>
                        </div>
                        <div class='smallAlignment'></div>
                        <div class='columnflex'>
                            <div class='largeAlignment'></div>
                            <span>Confirm Password</span>
                            <div class='smallAlignment'></div>
                            <input id="textbox" type="password" #cpassword required/>
                        </div>
                    </div>

                    <div class='largeAlignment'></div>
                    <input type='submit' id='subbutton' value='Next' (click)='storeData(name.value, username.value, email.value, password.value, cemail.value, cpassword.value)'/><br>
                </form>
                <br>
                <a routerLink='/login' routerLinkActive='active'>Have an account?</a>
            </div>
        </div>
    </body>
</html>