<mat-drawer #drawer mode="over">
  <div id='profilebut'>
    <fa-icon [icon]="faUserCircle" class='newImg' (click)="profilepage()"></fa-icon>
    <div id='columnflex'>
      <div id='rowflex'>
        <span>USERNAME</span>
        <fa-icon [icon]="faTimes" class='icon other' (click)="drawer.toggle()"></fa-icon>
      </div>
      <div id='rowflex'>
        <span>AGE</span>
        <span>GRADE</span>
      </div>
    </div>
        </div>

  <p>________________________________</p>

  <div class='adjus'>
    <fa-icon [icon]="faHome" class='icon'></fa-icon>
    <div class='excess'></div>
    <input type='button' value='Home' class="nav-link" (click)='homepage()'/><br>
    </div>
    <div class='smallAlignment'></div>
  <div class='adjus'>
    <fa-icon [icon]="faClipboardList" class='icon'></fa-icon>
    <div class='excess'></div>
    <input type='button' value='Tutor List' class="nav-link" (click)='tutorpage()'/><br>
  </div>
    <div class='smallAlignment'></div>
  <div class='adjus'>
    <fa-icon [icon]="faCalendar" class='icon'></fa-icon>
    <div class='excess'></div>
    <input type='button' value='Calendar' class="nav-link" (click)='tutorpage()'/><br>
  </div>
  <div class='smallAlignment'></div>
  <div class='adjus'>
    <fa-icon [icon]="faChartPie" class='icon'></fa-icon>
    <div class='excess'></div>
    <input type='button' value='Records' class="nav-link" (click)='tutorpage()'/><br>
  </div>

  <p>________________________________</p>

  <div class='adjus'>
    <fa-icon [icon]="faInfoCircle" class='icon'></fa-icon>
    <div class='excess'></div>
    <input type='button' value='About' class="nav-link" (click)='tutorpage()'/><br>
  </div>
  <div class='smallAlignment'></div>
  <div class='adjus'>
    <fa-icon [icon]="faBuilding" class='icon'></fa-icon>
    <div class='excess'></div>
    <input type='button' value='Sponsors' class="nav-link" (click)='tutorpage()'/><br>
  </div>
  <div class='smallAlignment'></div>
  <div class='adjus'>
    <fa-icon [icon]="faPhone" class='icon'></fa-icon>
    <div class='excess'></div>
    <input type='button' value='Contact' class="nav-link" (click)='tutorpage()'/><br>
  </div>
  <div class='smallAlignment'></div>
  <div class='adjus'>
    <fa-icon [icon]="faComments" class='icon'></fa-icon>
    <div class='excess'></div>
    <input type='button' value='Feedback' class="nav-link" (click)='tutorpage()'/><br>
  </div>

  <p>________________________________</p>

  <div class='adjus'>
    <fa-icon [icon]="faSignOutAlt" class='icon'></fa-icon>
    <div class='excess'></div>
    <input type='button' value='Log Out' class="nav-link" (click)="authService.SignOut()"/>
  </div>
</mat-drawer>
    
<div class="head">
  <fa-icon [icon]="faBars" id='menuicon' (click)="drawer.toggle()"></fa-icon>
  <img src="../../assets/images/vlogo_white_bg.png" alt="Vibha Logo" id='logoimg'>
</div>