<!DOCTYPE html>
<html>
    <body>
        <div class="head">
            <img src="../../assets/images/vlogo_white_bg.png" alt="Vibha Logo">
        </div>
        <div class="other">
            <div class="content-wrap">
                <h3>Sign Up</h3>
                <div class='largeAlignment'></div>
                <div>
                    <div class='columnflex'>
                        <div class='largeAlignment'></div>
                        <span>Subjects Help Needed</span>
                        <div class='smallAlignment'></div>
                        <input id="textbox" type="text" />
                    </div>
                </div>

                <div class='largeAlignment'></div>
                <button id='subbutton'>Sign Up</button>
            </div>
        </div>
    </body>
</html>