<!DOCTYPE html>
<html>
    <body>
        <div class="head">
            <img src="../../assets/images/vlogo_white_bg.png" alt="Vibha Logo">
        </div>
        <div class="other">
            <div class="content-wrap">
                <h3>Forgot Password</h3>
                <div class='largeAlignment'></div>
                <span>Email</span>
                <div class='smallAlignment'></div>
                <input id="textbox" type="text"/><br>
                <div class='largeAlignment'></div>
                <button id='subbutton'>Send Request</button>
            </div>
        </div>
    </body>
</html>