<!DOCTYPE html>
<html>
    <body>
        <div class="head">
            <img src="../../assets/images/vlogo_white_bg.png" alt="Vibha Logo">
        </div>
        <div class="other">
            <div class="content-wrap">
                <h3>Log In</h3>
                <div class='largeAlignment'></div>
                <mat-tab-group animationDuration="0ms" headerPosition="below" mat-align-tabs="center">
                    <mat-tab label="Profile">
                        <p>Hello</p>
                    </mat-tab>
                    <mat-tab label="Second">

                    </mat-tab>
                    <mat-tab label="Third">

                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </body>
</html>